<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>
	<f:form.validationResults>
		<f:if condition="{validationResults.flattenedErrors}">
			<ul class="errors">
				<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
					<li>{propertyPath}
						<ul>
							<f:for each="{errors}" as="error">
								<li>{error.code}: {error}</li>
							</f:for>
						</ul>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:form.validationResults>
	<h1>
		<f:translate key="tx_universal.cloudAtCost"/>
	</h1>

	<h5>Server Info {serverList.time -> f:format.date(format: '%d.%m.%y - %H:%M')}</h5>

	<f:if condition="{serverList}">
		<f:then>
			<f:for each="{serverList.data}" as="server">
				<h3>{server.label}</h3>
				<f:form class="form-inline" action="renameServer" method="post" arguments="{serverId : server.sid}">
					<div class="form-group">
						<label for="serverName">Server name:</label>
						<f:form.textfield class="form-control" id="serverName" name="serverName" placeholder="{server.label}"/>
						<f:form.submit value="{f:translate(key: 'tx_universal.serverRename.rename')}" class="btn btn-default"/>
					</div>
				</f:form>
				<f:if condition="{server.status} == 'Powered On'">
					<f:then>
						<div style="width: 100%; height: 20px; background-color: lime; text-align: center">
							<f:translate key="tx_universal_module.server.isRunning"/>
						</div>
					</f:then>
					<f:else>
						<div style="width: 100%; height: 20px; background-color: red; text-align: center">
							<f:translate key="tx_universal_module.server.isNotRunning"/>
						</div>
					</f:else>
				</f:if>
				<f:render partial="CaCServer/GeneralInfo" arguments="{server : server}"/>
				<f:render partial="CaCServer/StorageInfo" arguments="{server : server}"/>
				<f:link.action class="btn btn-danger" action="powerOperation" arguments="{serverId : server.sid, operation : 'poweroff'}">Power Off</f:link.action>
				<f:link.action class="btn btn-default" action="powerOperation" arguments="{serverId : server.sid, operation : 'reset'}">Reset</f:link.action>
				<f:link.action class="btn btn-success" action="powerOperation" arguments="{serverId : server.sid, operation : 'poweron'}">Power On</f:link.action>
			</f:for>
		</f:then>
		<f:else>
			<h2 class="danger">Problem establishing a connection to the API</h2>
		</f:else>
	</f:if>
</f:section>