<table class="table">
	<thead>
	<tr>
		<th><f:translate key="tx_universal_module.generalInfo"/></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><f:translate key="tx_universal_module.general.mode"/></td>
		<td>{server.mode}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.operatingSystem"/></td>
		<td>{server.template}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.ip"/></td>
		<td>{server.ip}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.cpu"/></td>
		<td>{server.ram}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.ram"/></td>
		<td>{server.cpu}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.storage"/></td>
		<td>{server.storage} GB</td>
	</tr>
	</tbody>
</table>