{namespace vh=MK\Universal\ViewHelper}

<table class="table">
	<thead>
	<tr>
		<th><f:translate key="tx_universal_module.storageInfo"/></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><f:translate key="tx_universal_module.storageMaximum"/></td>
		<td>{server.storage} GB</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.storageInUse"/></td>
		<td>
			<f:if condition="{server.hdusage} == ''">
				<f:then>
					<f:translate key="tx_universal_module.server.noAPIData"/>
				</f:then>
				<f:else>
					<f:format.number decimals="2">{server.hdusage}</f:format.number> GB (
					<f:format.number decimals="2">
						<vh:CalculatePercentage baseValue="{server.storage}" value="{server.hdusage}"/>
					</f:format.number> %)
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<td><f:translate key="tx_universal_module.storageLeft"/></td>
		<td>
				<f:if condition="{server.hdusage} == ''">
					<f:then>
						<f:translate key="tx_universal_module.server.noAPIData"/>
					</f:then>
					<f:else>
						<f:format.number decimals="2">
							<vh:Subtract value="{server.hdusage}" from="{server.storage}"/>
						</f:format.number> GB
					</f:else>
				</f:if>
		</td>
	</tr>
	</tbody>
</table>