<f:layout name="Default"/>
<f:section name="main">
	<h1>Overview</h1>
	<span>This extension was created by M. Kugler and is work in progress..</span><br />
	<span>Alot of random features will be added here over time!</span>
	<br />
	<br />
	<span class="alert-notice">Please check the extension configuration before you start!</span>
</f:section>